@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}


<h1>Snowmobile Shop</h1>
<p class="lead">For the love of slopes, lakes, cliffs and all other elements of the beautiful Polish countryside.</p>
<p class="lead">
    <a asp-controller="SnowmobileRental" asp-action="Index" class="btn btn-lg btn-outline-dark fw-bold my-2" style="width: 300px;">Snowmobiles</a>
    <a asp-controller="SnowmobileTrips" asp-action="Index" class="btn btn-lg btn-outline-dark fw-bold my-2" style="width: 300px;">Trips</a>
</p>